project:
  type: website
  resources: 
    - "*.ggb"
    - "*.xlsx"
    - "*.zip"
    - "*.pdf"
    - "slides/Birkerød2024-elever.html"
    - "materialer/sprogmodeller/data/bog.txt"

website:
  description: "Gymnasieundervisning i kunstig intelligens"
  favicon: "logo/SVG/Bomaerke_05_AIMAT_2024.svg"
  title: "AI MAT - matematikken bag magien"
  google-analytics:
    tracking-id: "G-Y219BCPS45"
    storage: none
  navbar:
    title: false
    pinned: true
    logo: "logo/PNG/Logo_multi_AIMAT_RGB_2024.png"
    right:
      - text: "Til lærerne"
        href: til_laererne.qmd
      - icon: envelope
        href: about.qmd
        aria-label: "Om os"
      - icon: youtube
        href: "https://www.youtube.com/@ai-mat"
        target: _blank
        aria-label: "YouTube"
    left:
      - text: "Undervisningsforløb"
        href: undervisningsforlob/index.qmd
      - text: "Materialer"
        href: materialer/index.qmd
      - text: "SRP"
        href: srp/index.qmd
      - text: "Apps"
        href: apps/index.qmd
  page-footer:
    center: |
      <img src="/logo/SVG/Bomaerke_03_AIMAT_2024.svg" class="footer-logo">
      aimat.dk er finansieret af Novo Nordisk Fonden


format:
  html:
    embed-resources: false
    theme: 
    - cosmo
    - styles.scss
    theorems: true
    toc: true
    toc-title: Indhold
    toc-location: left
    link-external-newwindow: true
    related-formats-title: "Andre formater"
    include-after-body:
      - text: |
          <script src="scripts/navbar-tooltips.js"></script>



from: markdown+emoji

title-block-author-single: "Forfatter"
reference-location: margin
crossref:
  fig-prefix: figur   # (default is "Figure")
  tbl-prefix: tabel    # (default is "Table")
  exm-prefix: eksempel
  thm-prefix: sætning
  def-prefix: definition
  sec-prefix: afsnit
  eq-prefix: ''
  fig-title: Figur
  exm-title: Eksempel
  thm-title: Sætning
  tbl-title: Tabel

language: 
  listing-page-field-categories: "Kategorier"
  listing-page-category-all: "Alle"

fig-cap-location: margin
tbl-cap-location: margin

hide-description: true

label:
    fig: Figur
    
execute:
  echo: false
  warning: false

editor_options: 
  chunk_output_type: console