/*-- scss:defaults --*/

// color codes
// Mørkeblå: 
$color-morkblaa: #020873; // rgb: 002/008/115
// Gul: 
$color-gul: #F2B33D; // rgb: 242/179/06
// Lyseblå: 
$color-lysblaa: #8086F2; // rgb: 128/134/242
// Lyserød: 
$color-pink: #F288B9; // rgb: 242/136/185


// *-- Navigation bar colors --*/
$navbar-bg: $color-lysblaa;
$navbar-fg: $color-morkblaa;

/*-- Colors, fonts, etc. -- */
$link-color: $color-lysblaa;
$toc-color: $color-lysblaa;
$toc-active-border: $color-lysblaa; 

// *-- Icons m.m. --*/
$icon-pink: url('logo/SVG/Bomaerke_05_AIMAT_2024.svg');
$icon-lyseblaa: url('logo/SVG/Bomaerke_01_AIMAT_2024.svg');
$icon-gul: url('logo/SVG/Bomaerke_02_AIMAT_2024.svg');
$icon-morkblaa: url('logo/SVG/Bomaerke_03_AIMAT_2024.svg');

$logo-pink: url('logo/SVG/Logo_pink_AIMAT_RGB_2024.svg');
$logo-lyseblaa: url('logo/SVG/Logo_lightblue_AIMAT_RGB_2024.svg');
$logo-gul: url('logo/SVG/Logo_yellow_AIMAT_RGB_2024.svg');
$logo-morkblaa: url('logo/SVG/Logo_blue_AIMAT_RGB_2024.svg');
$logo-hvid: url('logo/SVG/Logo_light_AIMAT_RGB_2024.svg');


// *-- Callout blocs - styling af farver --*/
 
// Til opgaver
$callout-color-note: $color-pink;

// Til "ekstra læsning" bokse
$callout-color-tip: $color-morkblaa;

// Til info bokse i starten af et forløb
$callout-color-caution: $color-lysblaa;

// Til "lærergennemgang"
$callout-color-important: $color-gul;

 


// Font
// $font-familiy: montserrat;

/*-- scss:rules --*/

/*body {
  color: $color-morkblaa;
}*/

/* GRADIENT som baggrund i navbar */
/*.navbar {
  background-image: linear-gradient(to bottom right, $color-pink, $color-lysblaa);
}*/

h1, h2, h3, h4, h5 {
  color: $color-morkblaa;
}

h2.aimat {
  background-image: $icon-lyseblaa;
  background-repeat: no-repeat;
  padding-left: 3rem;
}

.callout {
  background-size: 2.7rem 2.7rem;
  background-repeat: no-repeat;
}

// Til opgaver
.callout-note {
  background-image: $icon-pink;
}

// Til "ekstra læsning" bokse
.callout-tip {
  background-image: $icon-morkblaa;
}

// Til info bokse i starten af et forløb
.callout-caution {
  background-image: $icon-lyseblaa;
}

// Til "lærergennemgang"
.callout-important {
  background-image: $icon-gul;
}

.callout-body-container {
  padding-top: 1rem;
}
.callout-title-container {
  color: $color-morkblaa;
  padding-left:  2.7rem;
}

.card-title {
  font-weight: bolder;  
}

.example {
  font-style: italic;
}

.description {
  font-style: italic;
}

.centertext {
  text-align:center;
}

.llm_saetninger {
  text-align:center;
  font-size: 1.1em;
}

.purpose {
  border: 5px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  border-color: $color-lysblaa;
}

.highlight {
  border: 0px;
  border-radius: 10px;
  padding: 15px;
  background-color: $color-pink;
  color: $color-morkblaa;
}

.highlight2 {
  border: 5px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  border-color: $color-pink;
}

.pink_morkblaa {
  background-color: $color-pink;
  color: $color-morkblaa;
}

.gul_morkblaa {
  background-color: $color-gul;
  color: $color-morkblaa;
}

.morkblaa_gul {
  background-color: $color-morkblaa;
  color: $color-gul;
}

.lysblaa_morkblaa {
  background-color: $color-lysblaa;
  color: $color-morkblaa;
}

.morkblaa_lysblaa {
  background-color: $color-morkblaa;
  color: $color-lysblaa;
}

.morkblaa_pink {
  background-color: $color-morkblaa;
  color: $color-pink;
}

.button_ai {
  padding-left: 3rem;
  text-align: left;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  
  width: 100%;
}

.button_ai_morkblaa_pink {
  color: $color-morkblaa;
  border-color: $color-morkblaa;
  background-image: $icon-morkblaa;
  background-repeat: no-repeat;
}

.button_ai_morkblaa_pink:hover {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_morkblaa_pink:active {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_pink_morkblaa {
  color: $color-morkblaa;
  border-color: $color-morkblaa;
  background-image: $icon-pink;
  background-repeat: no-repeat;
}

.button_ai_pink_morkblaa:hover {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_pink_morkblaa:active {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_lyseblaa_morkblaa {
  color: $color-morkblaa;
  border-color: $color-morkblaa;
  background-image: $icon-lyseblaa;
  background-repeat: no-repeat;
}

.button_ai_lyseblaa_morkblaa:hover {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_lyseblaa_morkblaa:active {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_yellow_white {
  color: $color-gul;
  border-color: $color-gul;
  background-image: $icon-gul;
  background-repeat: no-repeat;
}

.button_ai_yellow_white:hover {
  background-color: white;
  color: $color-gul;
  border-color: $color-gul;
}

.button_ai_yellow_white:active {
  background-color: white;
  color: $color-gul;
  border-color: $color-gul;
}

.paddingleft {
  padding-left:50px;
}

.boxed {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  border-color: $color-morkblaa;
}

.boxed_inline {
  border: 1px;
  border-style: solid;
  border-radius: 0px;
  padding: 5px;
  border-color: black;
}
