/*-- scss:defaults --*/

// color codes
// Mørkeblå: 
$color-morkblaa: #020873; // rgb: 002/008/115
// Gul: 
$color-gul: #F2B33D; // rgb: 242/179/06
// Lyseblå: 
$color-lysblaa: #8086F2; // rgb: 128/134/242
// Lyserød: 
$color-pink: #F288B9; // rgb: 242/136/185


// *-- Navigation bar colors --*/
$navbar-bg: $color-lysblaa;
$navbar-fg: $color-morkblaa;

/*-- Colors, fonts, etc. -- */
$link-color: $color-lysblaa;
$toc-color: $color-lysblaa;
$toc-active-border: $color-lysblaa; 

// *-- Icons m.m. --*/
$icon-pink: url('logo/SVG/Bomaerke_05_AIMAT_2024.svg');
$icon-lyseblaa: url('logo/SVG/Bomaerke_01_AIMAT_2024.svg');
$icon-gul: url('logo/SVG/Bomaerke_02_AIMAT_2024.svg');
$icon-morkblaa: url('logo/SVG/Bomaerke_03_AIMAT_2024.svg');

$logo-pink: url('logo/SVG/Logo_pink_AIMAT_RGB_2024.svg');
$logo-lyseblaa: url('logo/SVG/Logo_lightblue_AIMAT_RGB_2024.svg');
$logo-gul: url('logo/SVG/Logo_yellow_AIMAT_RGB_2024.svg');
$logo-morkblaa: url('logo/SVG/Logo_blue_AIMAT_RGB_2024.svg');
$logo-hvid: url('logo/SVG/Logo_light_AIMAT_RGB_2024.svg');


// *-- Callout blocs - styling af farver --*/
 
// Til opgaver
$callout-color-note: $color-pink;

// Til "ekstra læsning" bokse
$callout-color-tip: $color-morkblaa;

// Til info bokse i starten af et forløb
$callout-color-caution: $color-lysblaa;

// Til "lærergennemgang"
$callout-color-important: $color-gul;

 
// Styling af knapper til pagination;



/* --- Bootstrap farve- og pagination-variabler --- */
/* Primære farver */
$primary: $color-lysblaa;

/* Pagination-variabler (udpluk af de mest nyttige) */
$pagination-color:                 $color-lysblaa;
$pagination-bg:                    #ffffff;
$pagination-border-color:          #d0d7de;

$pagination-hover-color:           $color-lysblaa;
$pagination-hover-bg:              #f3f2fe; // lysblå blandet med hvis 90/10 
$pagination-hover-border-color:    #b9c6d8;

$pagination-active-color:          #ffffff;
$pagination-active-bg:             $color-lysblaa;
$pagination-active-border-color:   #d0d7de;

$pagination-disabled-color:        #9aa1a9;
$pagination-disabled-bg:           #f6f8fa;
$pagination-disabled-border-color: #e5e7eb;

$pagination-border-radius: .5rem;
$pagination-padding-y: .4rem;
$pagination-padding-x: .75rem;



// Font
// $font-familiy: montserrat;

/*-- scss:rules --*/

/*body {
  color: $color-morkblaa;
}*/

/* GRADIENT som baggrund i navbar */
/*.navbar {
  background-image: linear-gradient(to bottom right, $color-pink, $color-lysblaa);
}*/

h1, h2, h3, h4, h5 {
  color: $color-morkblaa;
}


h2.aimat {
  display: flex;                // gør overskriften til flex-container
  align-items: center;          // ikon og tekst på samme linje
  gap: 0.5rem;                  // afstand mellem ikon og tekst
  width: 100%;                  // fyld hele linjen
  justify-content: flex-start;  // venstrejusteret
}

h2.aimat::before {
  content: "";
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
  background: $icon-lyseblaa no-repeat center / contain;
  flex: 0 0 auto;               // ikon skal ikke strækkes
  border-top-left-radius: 3px; 
}

/* Sørg for at teksten kan bryde korrekt */
h2.aimat {
  flex-wrap: nowrap;            // ingen wrap mellem ikon og tekst
}

h2.aimat span {
  flex: 1 1 auto;
  min-width: 0;                 // tillader ord at bryde
  white-space: normal;          // bryd som normalt
}



.callout {
  background-size: 2.7rem 2.7rem;
  background-repeat: no-repeat;
}

// Til opgaver
.callout-note {
  background-image: $icon-pink;
}

// Til "ekstra læsning" bokse
.callout-tip {
  background-image: $icon-morkblaa;
}

// Til info bokse i starten af et forløb
.callout-caution {
  background-image: $icon-lyseblaa;
}

// Til "lærergennemgang"
.callout-important {
  background-image: $icon-gul;
}

.callout-body-container {
  padding-top: 1rem;
}
.callout-title-container {
  color: $color-morkblaa;
  padding-left:  2.7rem;
}

.card-title {
  font-weight: bolder;  
}


/* Styling af sætninger */


/* Containeren for teoremer */
.theorem {
  border: 1.5px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  border-color: $color-pink;
  color: $color-morkblaa;
  margin-bottom: 1em;
}

/* Titelteksten (vises ofte som “Sætning”, “Lemma” osv.) */
.theorem .theorem-title {
  font-weight: 700;
  color: $color-pink;
  margin-bottom: .25rem;
}

/* Brødteksten */
.theorem .theorem-body {
  color: $color-morkblaa;
}

/*For at lave et linjeskift efter et eksempels titel*/
.theorem-title {
  display:block;
}


/* Styling af eksempler */

.example {
  border-style: none;
  color: $color-morkblaa;
  margin-bottom: 1em;
  padding: 0px;
}

/* Titelteksten (vises ofte som “Sætning”, “Lemma” osv.) */
.example .theorem-title {
  font-weight: 700;
  color: $color-morkblaa;
  margin-bottom: .25rem;
}

/* Styling af beviser */

.bevis {
  color: $color-morkblaa;
  margin-bottom: 1em;
}


/* Bevisblok – placer QED helt til højre efter sidste p */
.bevis p:last-child {
  position: relative;              /* gør det muligt at absolut-positionere ::after */
  /* valgfrit: lidt ekstra højremargen så teksten ikke rammer QED */
  padding-right: 1.2em;
}

.bevis p:last-child::after {
  content: " □";                   /* brug "■" hvis du vil have sort udfyldt firkant */
  font-size: 2em;
  color: $color-morkblaa;
  position: absolute;
  right: 0;                        /* helt i højre kant af afsnittet */
  bottom: 0;                       /* læg den ved tekstens bundlinje */
  line-height: 1;                  /* så den ikke “hopper” vertikalt */
}


.estimeret_tid {
  color: $color-lysblaa;
}

.fremhaev {
  color: $color-morkblaa;
  font-weight: bolder;  
}

.fremhaev_underline {
  color: $color-morkblaa;
  font-weight: bold;  
  text-decoration: underline;
}

.fremhaev2 {
  color: $color-lysblaa;
  font-style: italic;
}


.description {
  font-style: italic;
}



.llm_saetninger {
  text-align:center;
  font-size: 1.1em;
}

.purpose {
  border: 5px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  border-color: $color-lysblaa;
}

.centertext {
  text-align:center;
}

.test{
  border: 1px;
  border-color: black;
}

.highlight {
  border: 0px;
  border-radius: 10px;
  padding: 15px;
  background-color: $color-pink;
  color: $color-morkblaa;
}

.highlight2 {
  border: 5px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  border-color: $color-pink;
}

.pink_morkblaa {
  background-color: $color-pink;
  color: $color-morkblaa;
}

.gul_morkblaa {
  background-color: $color-gul;
  color: $color-morkblaa;
}

.morkblaa_gul {
  background-color: $color-morkblaa;
  color: $color-gul;
}

.lysblaa_morkblaa {
  background-color: $color-lysblaa;
  color: $color-morkblaa;
}

.morkblaa_lysblaa {
  background-color: $color-morkblaa;
  color: $color-lysblaa;
}

.morkblaa_pink {
  background-color: $color-morkblaa;
  color: $color-pink;
}

.button_ai {
  padding-left: 3rem;
  text-align: left;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  
  width: 100%;
}

.button_ai_next {
  text-align: left;
  display: inline-block;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
  width: 10%;
  background-color: $color-morkblaa;
  color: $color-pink;
  float: right;
}

.prev {
  text-decoration: none;
  float:left;
}

.next {
  text-decoration: none;
  float:right;
}

.button_ai_morkblaa_pink {
  color: $color-morkblaa;
  border-color: $color-morkblaa;
  background-image: $icon-morkblaa;
  background-repeat: no-repeat;
}

.button_ai_morkblaa_pink:hover {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_morkblaa_pink:active {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_pink_morkblaa {
  color: $color-morkblaa;
  border-color: $color-morkblaa;
  background-image: $icon-pink;
  background-repeat: no-repeat;
}

.button_ai_pink_morkblaa:hover {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_pink_morkblaa:active {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_lyseblaa_morkblaa {
  color: $color-morkblaa;
  border-color: $color-morkblaa;
  background-image: $icon-lyseblaa;
  background-repeat: no-repeat;
}

.button_ai_lyseblaa_morkblaa:hover {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_lyseblaa_morkblaa:active {
  background-color: white;
  color: $color-morkblaa;
  border-color: $color-morkblaa;
}

.button_ai_yellow_white {
  color: $color-gul;
  border-color: $color-gul;
  background-image: $icon-gul;
  background-repeat: no-repeat;
}

.button_ai_yellow_white:hover {
  background-color: white;
  color: $color-gul;
  border-color: $color-gul;
}

.button_ai_yellow_white:active {
  background-color: white;
  color: $color-gul;
  border-color: $color-gul;
}

.paddingleft {
  padding-left:50px;
}

.boxed {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  border-color: $color-morkblaa;
}

.boxed_inline {
  border: 1px;
  border-style: solid;
  border-radius: 0px;
  padding: 5px;
  border-color: black;
}

details {
  color:gray;
  padding-left: 2.5em;
}

details li {
  list-style-type: circle;  
}

// Horizontal line-height

hr {
    background-color: $color-morkblaa;
}
