/*-- scss:defaults --*/

// color codes
// Mørkeblå: 
$color-morkblaa: #020873; 
// Gul: 
$color-gul: #F2B33D;
// Lyseblå: 
$color-lysblaa: #8086F2;
// Lyserød: 
$color-pink: #F288B9;


// *-- Navigation bar colors --*/
$navbar-bg: $color-lysblaa;
$navbar-fg: $color-morkblaa;

/*-- Colors, fonts, etc. -- */
$link-color: $color-lysblaa;
$toc-color: $color-lysblaa;
$toc-active-border: $color-lysblaa; 

// *-- Icons --*/
$icon-pink: url('logo/SVG/Bomaerke_05_AIMAT_2024.svg');
$icon-lyseblaa: url('logo/SVG/Bomaerke_01_AIMAT_2024.svg');
$icon-gul: url('logo/SVG/Bomaerke_02_AIMAT_2024.svg');
$icon-morkblaa: url('logo/SVG/Bomaerke_03_AIMAT_2024.svg');



// *-- Callout blocs --*/
// Til opgaver
$callout-color-note: $color-pink;
// Til "ekstra læsning" bokse
$callout-color-tip: $color-morkblaa;
// Til info bokse i starten af et forløb
$callout-color-caution: $color-lysblaa;


// Font
// $font-familiy: montserrat;

/*-- scss:rules --*/

/*body {
  color: $color-morkblaa;
}*/

/* GRADIENT som baggrund i navbar */
/*.navbar {
  background-image: linear-gradient(to bottom right, $color-pink, $color-lysblaa);
}*/

h1, h2, h3, h4, h5 {
  color: $color-morkblaa;
}

.callout {
  background-size: 2.7rem 2.7rem;
  background-repeat: no-repeat;
}

.callout-note {
  background-image: $icon-pink;
}

.callout-tip {
  background-image: $icon-morkblaa;
}

.callout-caution {
  background-image: $icon-lyseblaa;
}

.callout-important {
  background-image: $icon-gul;
}

.callout-body-container {
  padding-top: 1rem;
}
.callout-title-container {
  color: $color-morkblaa;
  padding-left:  2.7rem;
}

.card-title {
  font-weight: bolder;  
}

.example {
  font-style: italic;
}

.description {
  font-style: italic;
}

.purpose {
  border: 5px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  border-color: $color-lysblaa;
}

.highlight {
  border: 0px;
  border-radius: 10px;
  padding: 15px;
  background-color: $color-pink;
  color: $color-morkblaa;
}

.pink_morkblaa {
  background-color: $color-pink;
  color: $color-morkblaa;
}

.gul_morkblaa {
  background-color: $color-gul;
  color: $color-morkblaa;
}

.morkblaa_gul {
  background-color: $color-morkblaa;
  color: $color-gul;
}

.lysblaa_morkblaa {
  background-color: $color-lysblaa;
  color: $color-morkblaa;
}

.morkblaa_lysblaa {
  background-color: $color-morkblaa;
  color: $color-lysblaa;
}

.morkblaa_pink {
  background-color: $color-morkblaa;
  color: $color-pink;
}
